<!DOCTYPE html>  
<html lang="en" ng-app="myApp">  
 <head>
    <meta charset="utf-8">
    <meta name='viewport', content='width=device-width, initial-scale=1.0'>
    <title> <%= title %></title>
    <link rel='stylesheet' type='text/css' href='/stylesheets/bootstrap.min.css'/>
    <link rel='stylesheet' type='text/css' href='/stylesheets/style.css')/>
    <script src='/javascripts/modernizr-2.6.2.js'></script>
    <script src='/javascripts/angular.min.js'></script>
    <script src='/javascripts/app/acmeTraining.js'></script>

</head>
  <body >
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type='button' data-toggle='collapse' data-target='.navbar-collapse'></button>
            <span class="icon-bar"/>
            <span class="icon-bar"/>
            <span class="icon-bar"/>
          <a class="navbar-brand" href='/'> <%=title%> </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li>
              <a href='/'> Home</a>
            </li>
            <li>
              <a href='/about'>About</a>
            </li>
            <li>
              <a href='/contact'>Contact</a>
            </li>
            </ul>
        </div>
      </div>
    </div>
    <div class="container body-content">
        
      <div class="row">
        <div class="col-md-4" ng-controller="myController">
          <h2><%=coursesHeading%></h2>
          <p>
            <ul id="coursesList" >
                    <li ng-repeat="course in courses">
                        <a href="/courses/?course_id={{course._id}}"> {{course.name}} </a>
                    </li>
            </ul>
          </p>
          <p>{{message}} </p>
        </div>
            
        </div>    
    </div>
    <hr/>
    <footer>
        <p> &copy; <%= year %> - <%= title%></p>
    </footer>

    <script src='/javascripts/jquery-1.10.2.js'></script>
    <script src='/javascripts/bootstrap.js'></script>
    <script src='/javascripts/respond.js'></script>
 </body>
</html>
